In [1]:
tlds = {'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx'}

a. Check whether the dictionary contains the key 'Canada'.

In [2]:
print('Canada' in tlds)

True

b. Check whether the dictionary contains the key 'France'.

In [3]:
print('France' in tlds)

False

c. Iterate through the key–value pairs and display them in two-column format.

In [4]:
print('Key', '\t', 'Value')

for k, v in tlds.items():
  print(k, '\t', v)

Key 	 Value
Canada 	 ca
United States 	 us
Mexico 	 mx

d. Add the key–value pair 'Sweden' and 'sw' (which is incorrect).

In [5]:
tlds['Sweden'] = 'sw'
print(tlds)

{'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx', 'Sweden': 'sw'}

e. Update the value for the key 'Sweden' to 'se'.

In [6]:
tlds['Sweden'] = 'se'
print(tlds)

{'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx', 'Sweden': 'se'}

f. Use a dictionary comprehension to reverse the keys and values.

In [7]:
tlds = { code: country for country, code in tlds.items() }
print(tlds)

{'ca': 'Canada', 'us': 'United States', 'mx': 'Mexico', 'se': 'Sweden'}

g. With the result of part (f), use a dictionary comprehension to convert the country names to all uppercase letters.

In [8]:
tlds = { code: country.upper() for code, country in tlds.items() }
print(tlds)

{'ca': 'CANADA', 'us': 'UNITED STATES', 'mx': 'MEXICO', 'se': 'SWEDEN'}