In [1]:
import pandas as pd

7.23 (Pandas: DataFrames) Perform the following tasks with pandas Dataframes:

a. Create a DataFrame named temperatures from a dictionary of three temperature readings each for 'Maxine', 'James and 'Amanda'.

In [2]:
temperatures = pd.DataFrame({'Maxine': [98, 97, 99], 'James': [101, 100, 101],'Amanda': [103, 100, 102]})
print(temperatures)

   Maxine  James  Amanda
0      98    101     103
1      97    100     100
2      99    101     102

b. Recreate the Dataframe temperatures in Part (a) with custom indices using the index keyword argument and a list containing 'Morning', 'Afternoon' and 'Evening'.

In [3]:
temperatures = pd.DataFrame({'Maxine': [98, 97, 99], 'James': [101, 100, 101],'Amanda': [103, 100, 102]}, index=['Morning', 'Afternoon', 'Evening'])
print(temperatures)

           Maxine  James  Amanda
Morning        98    101     103
Afternoon      97    100     100
Evening        99    101     102

c. Select from temperatures the column of temperature readings for 'Maxine'.

In [4]:
temperatures['Maxine']

Morning      98
Afternoon    97
Evening      99
Name: Maxine, dtype: int64

d. Select from temperatures the row of 'Morning' temperature readings.

In [5]:
temperatures.loc['Morning']

Maxine     98
James     101
Amanda    103
Name: Morning, dtype: int64

e. Select from temperatures the rows for 'Morning' and 'Evening' temperature readings.

In [6]:
temperatures.loc[['Morning', 'Evening']]

         Maxine  James  Amanda
Morning      98    101     103
Evening      99    101     102

f. Select from temperatures the columns of temperature readings for 'Amanda' and 'Maxine'.

In [7]:
temperatures[['Amanda', 'Maxine']]

           Amanda  Maxine
Morning       103      98
Afternoon     100      97
Evening       102      99

g. Select from temperatures the elements for 'Amanda' and 'Maxine' in the 'Morning' and 'Afternoon'.

In [8]:
temperatures[['Amanda', 'Maxine']].loc[['Morning', 'Afternoon']]

           Amanda  Maxine
Morning       103      98
Afternoon     100      97

h. Use the describe method to produce temperaturesâ€™ descriptive statistics.

In [9]:
temperatures.describe()

       Maxine       James      Amanda
count     3.0    3.000000    3.000000
mean     98.0  100.666667  101.666667
std       1.0    0.577350    1.527525
min      97.0  100.000000  100.000000
25%      97.5  100.500000  101.000000
50%      98.0  101.000000  102.000000
75%      98.5  101.000000  102.500000
max      99.0  101.000000  103.000000